.cameraButton {
    width: 200px;
    border-radius: 2px;
    margin: 20px;
    background-color: blue;
    color: white;
}

.camera {
    display: flex;
    align-items: center;
    flex-direction: column;
}
